/* Agenda page */
.agenda {
}

.agenda-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.agenda-content > div {
  margin-bottom: 1.5rem;
}
.agenda-content h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.agenda-content > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.agenda-content-comp {
  text-align: start;
}

.agenda-content-comp ol > li {
  margin: 0 0 1rem 2rem;
}

.agenda-content-about {
  text-align: start;
}
.agenda-content-about ul > li {
  margin: 0 0 1rem 2rem;
}

.agenda-content-result-table {
  width: 100%;
  border-radius: 1.5rem;
  border: 0.3rem solid #fff;
  /* padding: 0.64rem; */

  font-size: 1.5rem;
}
.agenda-content-result-table tr td {
  width: 50%;
  padding: 5px 10px;
}
.agenda-content-result-table tr td:nth-child(1) {
  text-align: right;
}
.agenda-content-result-table tr td:nth-child(2) {
  text-align: left;
}

@media screen and (max-width: 480px) {
  .agenda-content > h1 {
    margin-bottom: 1.5rem;
    font-size: 5rem;
  }
  .agenda-content-result-table {
    border-radius: 1.5rem;
    border: none;
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .agenda div > h1 {
    font-size: 4rem;
  }
  .agenda-content {
    font-size: 2rem;
  }
  .agenda-content-comp ol > li {
    margin: 0 0 2rem 4rem;
  }
}
