/* Agenda page */
.agenda {
  font-family: Cubic;
}
.agenda-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2rem 3rem 0.5rem 3rem;
}
.agenda-content > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.agenda-content-table {
  border-radius: 1.5rem;
  border: 0.3rem solid #fff;
  /* padding: 0.64rem; */

  font-size: 1.5rem;
}
.agenda-content-table tr td {
  width: 50%;
  padding: 5px 10px;
}
.agenda-content-table tr td:nth-child(1) {
  text-align: right;
}
.agenda-content-table tr td:nth-child(2) {
  text-align: left;
}

@media screen and (max-width: 480px) {
  .agenda-content > h1 {
    margin-bottom: 1.5rem;
    font-size: 5rem;
  }
  .agenda-content-table {
    border-radius: 1.5rem;
    border: none;
    font-size: 2rem;
  }
  
}
