/* Games page */
.games {
}
.games::-webkit-scrollbar {
  display: none;
}

.games-content {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.games-content > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.games-content-card-wrapper {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  /* grid-template-columns: minmax(250px); */
  grid-gap: 30px;
}
