.info {
}
.info-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.info-content > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.info-content-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  place-items: start center;
  grid-gap: 100px;
}
@media screen and (max-width: 480px) {
  .info-content > h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
  }
}