.navbar-menu {
  position: relative;
  font-size: 1.8rem;
  z-index: 1;
}

/* .navbar-menu-nav-line {
  position: absolute;
  
  top: 0.5em;
  width: 100%;
  height: 0.3em;
  background-image: linear-gradient(
    to right,
    red 0%,
    red 0.3em,
    transparent 0.3em
  );
  background-size: 50px 100%;
  background-repeat: repeat-x;
  z-index: 0;
} */

.navbar-menu-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-menu-nav-item {
  /* text-shadow: 0 0 5px rgba(244, 41, 255, 0.83); */
  font-family: Cubic;

  background-color: black;
  color: #fff;
  text-decoration: none;
  /* text-wrap: nowrap; */
  list-style: none;
  transition-duration: 0.5s;
}

.navbar-menu-nav-item:hover a {
  color: 03bcf4;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
}

.navbar-menu-nav-item a {
  color: inherit;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.83);
}

.navbar-menu-nav-item.active {
  color: yellow;
}
