.sponsors {
}

.sponsors-content {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.sponsors-content > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.sponsors-content-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  grid-gap: 30px;
}

/* @media (max-width: 1440px) {
  .sponsors-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .sponsors-content {
    grid-template-columns: repeat(3, 1fr);
  }
} */
