.sponsor-card {
  position: relative;
  width: 150px;
  height: 250px;
  background-color: #111;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: 0 0 12px 1px var(--clr);
}

.sponsor-card-content {
  position: absolute;
  inset: 0;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
  transition-delay: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.sponsor-card:hover .sponsor-card-content {
  opacity: 1;
  transition-delay: 0.3s;
}
.sponsor-card-content h3 {
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--clr);
}
.sponsor-card-content p {
  text-align: center;
  color: #fff;
}
.sponsor-card-content a {
  color: #fff;
  background: var(--clr);
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sponsor-card-imgbox,
.sponsor-card-textbox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sponsor-card-imgbox {
  background: #fff;
  height: 30%;
  z-index: 1;
  transform-origin: bottom;
}

.sponsor-card:hover .sponsor-card-imgbox {
  transform: translateY(-100%) rotateX(90deg);
}

.sponsor-card-textbox {
  height: 70%;
  background: var(--clr);
  border-top: 5px solid #111;
  transform-origin: top;
  transition-delay: 0.3s;
  align-items: flex-end;
}

.sponsor-card:hover .sponsor-card-textbox {
  transform: translateY(100%) rotateX(90deg);
}

.sponsor-card-textbox h3 {
  color: #111;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  padding: 5px 25px;
  border: #111 5px solid;
  border-bottom: none;
}

.sponsor-card-imgbox::before {
  content: "";
  position: absolute;
  bottom: -55%;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 80%;
  background: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 1;
}

.sponsor-card .sponsor-card-imgbox img {
  position: relative;
  top: 50px;
  z-index: 1000;
}

.sponsor-card .sponsor-card-textbox::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 52%;
  height: 29%;
  background: #111;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
