.profile-content {
  text-align: center;
}
.profile-content > div {
  margin-bottom: 3rem;
}
.profile-content > div > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.profile-content-upload,
.profile-content-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
/* .profile-content-upload > h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
} */
.profile-content-upload-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 20px;

  background: #222;

  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #03bcf4;
}
.profile-content-upload-form-header {
}
.profile-content-upload-form-file {
  border: 2px dashed #fff;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d2b3c;
  cursor: pointer;
  transition: 0.5s;

  padding: 2rem;
}
.profile-content-upload-form-file:hover {
  color: #00dfc4;
}
.profile-content-upload-form-file.upload-drag {
  background: rgba(54, 81, 114, 0.294);
}
.profile-content-upload-form-file .upload-icon {
  width: 10rem;
  height: 7rem;
  fill: #fff;
}
.profile-content-upload-form-file p {
  font-size: 1.5rem;
}
.profile-content-upload-form-link {
  position: relative;
  width: 50%;
}
.profile-content-upload-form-link input {
  font-family: Cubic;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3c;
  border-radius: 5px;
  outline: #fff;
  font-size: 0.8em;
  transition: 0.3s;
}
.profile-content-upload-form-link span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.3s;
}
.profile-content-upload-form-link input:valid ~ span,
.profile-content-upload-form-link input:focus ~ span {
  color: #00dfc4;
  transform: translateX(0.5rem) translateY(calc(-0.6rem + 2px));
  font-size: 0.55rem;
  padding: 0 0.6rem;
  background: #1d2b3c;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}
.profile-content-upload-form-link input:valid,
.profile-content-upload-form-link input:focus {
  border: 1px solid #00dfc4;
}

.profile-content-upload-form-link:nth-child(3) input:valid ~ span,
.profile-content-upload-form-link:nth-child(3) input:focus ~ span {
  background: #00dfc4;
  color: #1d2b3c;
  border-radius: 2px;
}

.profile-content-upload-form-button {
  border: none;
  transition: 0.5s;
}
.profile-content-upload-form-button:hover {
  color: #00dfc4;
}

.profile-content-upload-form-file .error {
  color: #ff0000;
}
