@import "./components/index.css";

@font-face {
  font-family: "Cubic";
  src: url("../assets/font/Cubic_11_1.013_R.woff") format("woff");
}
@font-face {
  font-family: "GenSenRoundedTW-M-01";
  src: url("../assets/font/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceAge";
  src: url("../assets/font/spaceAge.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
a:hover {
  text-decoration: none;
  color: unset !important;
}

#root {
  width: 100vw;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: black;
  padding: 20px 30px 20px 30px;

  overflow-y: scroll;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-body {
  flex-grow: 1;

  border: 5px solid blue;
  border-top: none;
  border-bottom: none;
}
.content-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
}
.content-footer-line {
  width: 100%;
  height: 5px;
  background-color: blue;
}

.content-footer-dot {
  width: 5px;
  height: 5px;
  background-color: blue;
}
